@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --bg-gray: rgb(60, 0, 50);
    --color-primary: purple;
    --white: #fff;
    --text-gray: #4a4a4a;
    --text-light-gray: #AAAAAA;
    --star-yellow:#FFBB3A;
    --gray-avaliations: #989898;

}

* {
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0%;
}

html,
body {
    background-color: var(--bg-gray);
}

header {
    background-color: var(--color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

.dubmovie-logo-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.dubmovie-contact-container {
    display: flex;
    align-items: center;

}

.dubmovie-contact-container img {
    margin-right: 10px;
}

#dubmovie-card-list {
    padding: 40px 10;
}

.dubmovie-card {
    width: 100%;
    height: 400px;
}

.dubmovie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.dubmovie-card-description {
    background-color: var(--white);
    padding: 10px 20px 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 8px 8px;
    height: 190px;
    justify-content: space-between;
}

.dubmovie-card-description h3 {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.dubmovie-card-description-bottom img {
    width: 20px;
}

.dubmovie-card-description-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dubmovie-card-description-bottom h4 {
    font-size: 16px;
    font-weight: 700;
    color: var(--star-yellow);
}

.dubmovie-card-description-bottom p {
    font-size: 12px;
    font-weight: 400;
    color: var(--gray-avaliations);
    margin-bottom: 10px;
}


.dubmovie-btn, .dubmovie-btn:hover {
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
}

.dubmovie-form-container {
    padding: 40px 0;
    max-width: 480px;
}

.dubmovie-form-description {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;

}

.dubmovie-form-description h3 {
    font-size: 13px;
    font-weight: 700;
    color: var(--text-gray);
    margin-bottom: 20px;

}

.dubmovie-form {
    width: 100%;

}

.dubmovie-form-btn-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dubmovie-form-group {
    margin-bottom: 20px;
}

.dubmovie-form-group label {
    font-size: 12px;
    color: var(--text-light-gray);
}